.mo0 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
    
    
    .modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    }
    
    
    .modal h1 {
    font-family: Arial;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px;
    }
    
    
    .modal input {
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    margin: 10px;
    }
    
    
    .modal button {
    width: 100px;
    height: 40px;
    background-color: #66ccff;
    color: white;
    font-family: Arial;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    }
    
    
    .modal button:hover {
    background-color: #3399ff;
    }